img {
  width: 100%;
}

hr {
  margin: 1em 0 3em;
  border: 0;
  border-top: 1px solid #fff5be;

}
hr.dash {
    border-top: 1px solid #000;
}
.landing {
  position: relative;
  background: url('./img/directedby.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
span {
  color: #bbb;
  padding: .4rem;
  font-size: 1.25rem;
  line-height: 1.5rem
}

span.profiles {
  color: #000;
  font-size: 1rem;
}
span.profile {
  color: #fff;
  font-size: 1rem;
}

.disabled {
  display: none;
}
.displayImg {
  width: 70px;
}

.matos {
  text-align:center;
}
i.fa-slack-hash {
  color: green;
  font-size: 15px;
}
.card-img-top {
  width: 150px;
  margin: 0 auto;
}

.nopix {
  margin: 10px auto;
  width: 250px;
  opacity: .2;
}
