img {
  width: 100%;
}

hr {
  margin: 1em 0 3em;
  border: 0;
  border-top: 1px solid #fff5be;

}
hr.dash {
    border-top: 1px solid #000;
}
.landing {
  position: relative;
  background: url('./img/directedby.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
span {
  color: #bbb;
  padding: .4rem;
  font-size: 1.25rem;
  line-height: 1.5rem
}

.custom-file-input:lang(language) {
  en: "Browse";
  fr: "Parcourir";

}

/* on personnalise le label comme on veut */
.label-file {
    cursor: pointer;

}
.label-file:hover {
    color: #25a5c4;
}


/* .input-file {
    display: none;
} */

.disabled {
  display: none;
}
.displayImg {
  width: 70px;
}

th.matos {
  text-align:center;
}
